extends ../layout

block content
  .messages 
  h2 Your Shared Documents
  ul.shared-list
    each share in shares
      li.share-item(id=share._id)
        if share.title
          a(href="/shares/" + share.urlID) #{share.title}
        else
          a(href="/shares/" + share.urlID) #{share.urlID}
        button.share-delete delete
    else
      li.void-list-item No shares here yet.
