extends ../layout

block content
  form#share(shareId=share._id)
    input(name="title" placeholder="Title" value=share.title)
    textarea(placeholder="Content" rows=20 name="content") #{share.content}
    input(type="text" name="sharelink" value="http://fast-share.herokuapp.com/" + share.urlID)
    button#share-code(type="button") copy
