extends ../layout

block content
  form#share(shareId=share._id)
    input(name="title" placeholder="Title" value=share.title)
    textarea(placeholder="Content" rows=20 name="content") #{share.content}
    .share-link-container
      input.share-link-input(type="text" name="sharelink" readonly)
      button.share-link-btn#share-code(type="button") copy
  div.connected-people
    span.connected-number 
    span &nbsp;
    span you are connected now.
