* {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5rem;
}

.hidden {
  display: none !important;
}
.messages {
  font-weight: bold;
  color: #fff;
}

.messages p.success {
  display: flex;
  justify-content: space-between;
  background-color: rgb(17, 173, 17);
  align-items: center;
  padding: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.messages p.error {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(223, 54, 54);
  padding: 1rem;
}

#navigation a {
  text-decoration: none;
  color: #fff;
}

#navigation a:hover {
  opacity: 0.9;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  opacity: 0.7;
}

.shared-list li {
  margin: 1rem .5rem;
  padding: .5rem .25rem;
  margin-bottom: .25rem;
  border-bottom: 1px solid #ccc;
}

.shared-list .void-list-item {
  border: 0;
}

.close {
  background-color: transparent;
  border: 0;
  outline: none;
  color: #fff;
  font-weight: bold;
  font-size: large;
}

.close:hover {
  opacity: .7;
}

.share-item {
  display: flex;
  justify-content: space-between;
}

.share-delete {
  color: red;
  background-color: transparent;
  border: 0;
  font-size: 12pt;
  outline: none;
}

.share-delete:hover {
  opacity: 0.6;
}

.share-open {
  color: steelblue;
}

#content {
  padding: 0.75rem;
}

#content p {
  margin-bottom: .5rem;
}

#content form {
  display: flex;
  flex-direction: column;
}

input, textarea {
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

textarea {
  height: calc(100vh - 15rem);
}

.share-link-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: stretch;
}

.share-link-input {
  margin: 0;
  flex-grow: 1;
}

.share-link-btn {

}

#share-code {
  background-color: #333;
  color: #fff;
  padding: .5rem;
  border: 0;
  font-weight: bold;
}

#share-code:hover {
  opacity: 0.8;
}

#navigation {
  background-color: #333;
  padding: 1.25rem 1rem;
  color: #fff;
  margin-bottom: .5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navigation h3 {
  margin-bottom: 0;
}

#navigation ul li {
  float: left;
  list-style: none;
}

#navigation ul li a {
  margin-right: .5rem;
  padding: .5rem;
  background-color: #fff;
  color: #333;
}

#navigation ul li a:hover {
  color: #333;
  background-color: rgba(255, 255, 255, 0.8);
}

.error-title {
  font-size: 50vh;
}

@media (max-width: 768px) {
  .error-title {
    font-size: 30vh;
  }

  textarea {
    height: calc(100vh - 15rem);
  }

  /* .share-link-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .share-link-input {
    margin-bottom: .5rem;
    flex-grow: 0; */
  }
}

.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.error-description {
  font-size: 14pt;
  text-align: center;
}